body{ background-color: #F8F1F1;
	text-align: center;
	padding: 10px;
	margin: 10px;}

.navbar {
  background-color: #025464;
  color: #E57C23;
  padding: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 60px;
  margin-left: 60px;
}

.navbar a:hover {
  text-decoration: underline;
}



h1 { color: #025464;
	font-family: 'Poppins', sans-serif;
margin: 20px}
h1-2 {color: #025464; font-family: 'Poppins'; size: 10px}

p{font-family: 'Poppins';

}

a{text-decoration: none;
}

h2 { color: white ;font-family: 'Poppins'; }

.btn-group {

	color: #025464;
}

.btn-btn-primary{
	color: #025464;
}


.text-infos{
   
     color: #025464

}

.rubriques { padding: 20px;}

p{ padding: 20px;}

body { font-family: 'Poppins';}

header {
    background-color: #333;
    text-align: center;
    padding: 20px;
}

.suggestionentière {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
  
}

.recette {
    width: 30%;
    margin: 10px;
    padding: 20px;
    border: 6px solid #E57C23;
    text-align: center;
    transition: transform 0.3s ease;
}

.recette:hover {
    transform: scale(1.1);
}

.recette img {
    width: 100%;
    height: auto;
}
.recette h3 {
    margin-top: 20px;
}

h6 {font-size: 30px;font-family: 'Poppins';}

form {
  background-color: #025464;
  margin: 60px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 10px;
  color: #E57C23;
  width: 900px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
color: #E57C23;
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #E57C23;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #E57C23;
}
